default:
  image: python:3.8

variables:
  DOCKER_REGISTRY: registry.gitlab.com
  DOCKER_IMAGE_BASE_NAME: registry.gitlab.com/laboratorio-di-progettazione-trenobot/trenobot-laboratorio-di-progettazione/
  MYSQL_DATABASE: TRENOBOT
  MYSQL_ROOT_PASSWORD: root

stages:
  - pre_test
  - test
  - build
  - release
  - deploy

check_formatting:
  stage: pre_test
  script:
    - pip install -r requirements.txt
    - echo "Testing..."
    - black --check backend/ stats_website/ telegram-bot/

smoke_test:
  stage: pre_test
  image: docker:stable
  services:
    - docker:dind
  script:
    - apk add --no-cache docker-compose
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $DOCKER_REGISTRY

    - docker-compose build backend stats_website telegram-bot
    - docker-compose up -d backend stats_website telegram-bot
    - docker-compose stop

    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_backend ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:test
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:test

    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:test
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:test

    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:test
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:test

test_unit_backend:
  stage: test
  image: ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:test
  script:
    - cd /backend
    - python -m unittest discover backend/tests

test_unit_stats_website:
  stage: test
  image: ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:test
  script:
    - cd /stats_website
    - MOCK_API=1 python -m unittest discover stats_website/tests

test_unit_telegram-bot:
  stage: test
  image: ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:test
  script:
    - cd /telegram-bot
    - python -m unittest discover telegram_bot/tests

test_integration:
  stage: test
  image: docker:stable
  services:
    - docker:dind
    - mysql:5.7
  script:
    - apk add --no-cache docker-compose
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $DOCKER_REGISTRY
    - MYSQLIP=$(getent hosts mysql | awk '{ print $1 ; exit }')
    # test the backend
    - docker run --rm --net=host -e DATABASE_HOST=$MYSQLIP -e DATABASE_USER=root -e DATABASE_PASSWORD=root ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:test ./wait-for.sh $MYSQLIP:3306 -- python -m unittest discover backend/tests_integration/
    # test the telegram-bot
    - docker run -d --hostname backend --net=host -e DATABASE_HOST=$MYSQLIP -e DATABASE_USER=root -e DATABASE_PASSWORD=root ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:test
    - sleep 3
    - docker run --net=host -e TELEGRAM_API_KEY=${TELEGRAM_BOT_API_KEY} -e DATABASE_HOST=$MYSQLIP -e DATABASE_USER=root -e DATABASE_PASSWORD=root -e HOST_BACKEND=127.0.0.1 ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:test ./wait-for.sh $MYSQLIP:3306 -- python -m unittest discover telegram_bot/tests_integration/


# build a development/latest-commit version of the image and push it tagging it as the first 8 chars of the commit sha
build_dev:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  script:
    - apk add --no-cache docker-compose
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $DOCKER_REGISTRY
    - docker-compose build backend stats_website telegram-bot

    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_backend ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:${CI_COMMIT_SHA:0:8}
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:${CI_COMMIT_SHA:0:8}

    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:${CI_COMMIT_SHA:0:8}
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:${CI_COMMIT_SHA:0:8}

    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:${CI_COMMIT_SHA:0:8}
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:${CI_COMMIT_SHA:0:8}

# build docs and publish them, only stable docs are ok
pages:
  stage: build
  only:
    - master
    - /^sprint\d+$/
  script:
    - pip install -r requirements.txt
    - pip install -r stats_website/requirements.txt
    - pip install -r backend/requirements.txt
    - pip install -r telegram-bot/requirements.txt
    - sphinx-build docs/ public/
  artifacts:
    paths:
    - public

# tag and push a release image available to the latest:tag
release_image:
  stage: release
  only:
    - master
    - /^sprint\d+$/
  image: docker:stable
  services:
    - docker:dind
  script:
    - apk add --no-cache docker-compose
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $DOCKER_REGISTRY

    - docker pull ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:${CI_COMMIT_SHA:0:8}
    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:${CI_COMMIT_SHA:0:8} ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:${CI_COMMIT_REF_NAME}
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_backend:${CI_COMMIT_REF_NAME}

    - docker pull ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:${CI_COMMIT_SHA:0:8}
    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:${CI_COMMIT_SHA:0:8} ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:${CI_COMMIT_REF_NAME}
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website:${CI_COMMIT_REF_NAME}

    - docker pull ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:${CI_COMMIT_SHA:0:8}
    - docker tag ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:${CI_COMMIT_SHA:0:8} ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:${CI_COMMIT_REF_NAME}
    - docker push ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot:${CI_COMMIT_REF_NAME}


deploy:
  stage: deploy
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "${SSH_BUILD_SERVER}" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  only:
    - master
    - autodeploy-domain-name
    - /^sprint\d+$/
  script:
    - ssh -o StrictHostKeyChecking=no fabrolly2@trenobot.duckdns.org "cd /home/trenobot-laboratorio-di-progettazione; sudo git pull; sudo docker ps -a -q; sudo TELEGRAM_API_KEY=${TELEGRAM_BOT_API_KEY} docker-compose up -d --build"
    - echo "Deploying..."

