version: "3"
services:

    backend:
        build: ./backend
        image: ${DOCKER_IMAGE_BASE_NAME}trenobot_backend
        ports:
            - 5000:5000
        depends_on:
            - database
        environment:
            - DATABASE_HOST=database
            - DATABASE_USER=root
            - DATABASE_PASSWORD=root
        command: ./wait-for.sh database:3306 -- python -m backend.backend
        restart: unless-stopped
        tty: true
        stdin_open: true

    stats_website:
        build: ./stats_website
        image: ${DOCKER_IMAGE_BASE_NAME}trenobot_stats_website
        ports:
            - 8000:5000
        depends_on:
            - backend
        restart: unless-stopped
        tty: true
        stdin_open: true

    telegram-bot:
        build: ./telegram-bot
        image: ${DOCKER_IMAGE_BASE_NAME}trenobot_telegram-bot
        depends_on:
            - backend
            - database
        environment:
            - DATABASE_HOST=database
            - DATABASE_USER=root
            - DATABASE_PASSWORD=root
            - TELEGRAM_API_KEY=${TELEGRAM_API_KEY}
        command: ./wait-for.sh database:3306 -- python -m telegram_bot.bot
        restart: unless-stopped
        tty: true
        stdin_open: true

    database:
        image: mariadb:10
        restart: unless-stopped
        environment:
            - MYSQL_DATABASE=TRENOBOT
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_USER=trenobot
            - MYSQL_PASSWORD=trenobot
        volumes:
            - ./.data/mysql:/var/lib/mysql
