version: "3"
services:
    existing_bot:
        build: ./old_bot
        image: trenobot_old_bot
        restart: unless-stopped
        depends_on:
            - database
        environment:
            - TELEGRAM_API_KEY=set_it_here

    backend:
        build: ./backend
        image: trenobot_backend
        ports:
            - 5000:5000
        depends_on:
            - database
        restart: unless-stopped

    frontend:
        build: ./frontend
        image: trenobot_frontend
        ports:
            - 5000:5000
        depends_on:
            - backend
        restart: unless-stopped

    telegram-bot:
        build: ./telegram-bot
        image: trenobot_telegram-bot
        environment:
            - TELEGRAM_API_KEY=set_it_here
        depends_on:
            - backend
            - database
        restart: unless-stopped

    database:
        image: mariadb:10
        restart: unless-stopped
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_USER=trenobot
            - MYSQL_PASSWORD=trenobot
        volumes:
            - ./.data/mysql:/var/lib/mysql

