<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/logo.jpg" style="height:2.5rem" alt="TrenoBot" class="mr-1">
                TrenoBot - Portale Statistiche
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="https://t.me/TrainOllyBot">Su Telegram</span></a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="https://gitlab.com/laboratorio-di-progettazione-trenobot/trenobot-laboratorio-di-progettazione">Codice Sorgente</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
