{% extends "base.html.j2" %}

{% block title %}Comparazione treni{% endblock %}

{% block content %}
<div class="container pt-3">
    <form action="" method="GET">
        {% for train in trains %}
            <input type="hidden" name="trains" value="{{ train }}">
        {% endfor %}
        <div class="row align-items-center">
            <div class="col-12 col-sm-5">
                <div class="form-group">
                    <label>Da:</label>
                    <input class="form-control" type="date" name="from" value="{{ from_date }}" required>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="form-group">
                    <label>A:</label>
                    <input class="form-control" type="date" name="to" value="{{ to_date }}" required>
                </div>
            </div>
            <div class="col-12 col-sm-2 text-center mt-sm-3">
                <button type="submit" class="btn btn-success">
                    <i class="mdi mdi-play"></i>
                    Filtra
                </button>
            </div>
        </div>
    </form>
    <hr>
    <div class="row text-center my-3">
    {% for train in trains %}
        <div class="col">
            <div class="row">
                <h3 class="col-12">Treno {{ train }}</h3>
                <div class="col-12">
                    <a href="{{ url_for('stats.view', train=train ) }}" target="_blank">Vedi dettagli</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr>
    <div class="row text-center mb-3">
        <div class="col-12 font-weight-bold">Numero Corse</div>
        {% for train in trains %}
            <div class="col"><span data-name="{{train}}daysMonitoring"></span></div>
        {% endfor %}
    </div>

    <div class="row text-center mb-3">
        <div class="col-12 font-weight-bold">Ritardo Medio</div>
        {% for train in trains %}
            <div class="col"><span data-name="{{train}}averageDelay"></span></div>
        {% endfor %}
    </div>

    <div class="row text-center mb-3">
        <div class="col-12 font-weight-bold">Corse in ritardo</div>
        {% for train in trains %}
            <div class="col"><span data-name="{{train}}lateDays"></span></div>
        {% endfor %}
    </div>

    <div class="row text-center mb-3">
        <div class="col-12 font-weight-bold">Corse cancellate</div>
        {% for train in trains %}
            <div class="col"><span data-name="{{train}}nCancelled"></span></div>
        {% endfor %}
    </div>

    <div class="row text-center mb-3">
        <div class="col-12 font-weight-bold">Corse alterate</div>
        {% for train in trains %}
            <div class="col"><span data-name="{{train}}nAltered"></span></div>
        {% endfor %}
    </div>

    <script src="/static/js/fillDetails.js"></script>
    <script>
        {% for train in trains %}
            fillDetails('{{ train }}', {{ stats[train]|tojson|safe }})
        {% endfor %}
    </script>
</div>
{% endblock %}
